<!-- Footer -->
<footer class="page-footer font-small indigo bg-blue">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto text-light">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">contact us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">location logo and address</a>
          </li>
          <li>
            <a href="#!">email logo and email address</a>
          </li>
          <li>
            <a href="#!">cntact logo and contact njumber</a>
          </li>
          <li>
            <a href="#!">all social media logos</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto text-light">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">LINKS</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">rules</a>
          </li>
          <li>
            <a href="#!">privacy policy</a>
          </li>
          <li>
            <a href="#!">terms and conditions</a>
          </li>
          <li>
            <a href="#!">advertise with us.</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto text-light">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">quick links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!"> >>entry ticket</a>
          </li>
          <li>
            <a href="#!"> >>fouthcoming events</a>
          </li>
          <li>
            <a href="#!"> >>offers</a>
          </li>
          <li>
            <a href="#!"> >>Banquet and Resorts</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold  text-uppercase text-light mt-3 mb-4">about Drizzle</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum magni fugit tenetur vitae atque excepturi in
          vero! Quidem rerum ullam, dicta ut tenetur reprehenderit exercitationem tempore eligendi sequi necessitatibus
          corporis optio non magni repudiandae at provident facilis inventore iusto porro.</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>

  <!-- Footer Links -->

  <!-- Copyright -->

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> WWW.ImperatorGroup.com</a>
  </div>
  <!-- Copyright -->
  

</footer>
<!-- Footer -->
