
<nav class="navbar navbar-expand-lg navbar-primary bg-blue">
  <div class="container">
    <a class="navbar-brand text-white row" href="#">Drizzle</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icons"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-dark" routerLink="./Resorts">Resorts</a>
            <a class="dropdown-item text-dark" href="#">Occasional Garden</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="./book-tic">Booking tickets</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Offers
          </a>
          <div class="dropdown-menu bg-blue" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-dark" href="#">redeem your code</a>
            <a class="dropdown-item text-dark" href="#">get free ride</a>
            <a class="dropdown-item text-dark" href="#">scan QR</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="./aboutus">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="./aboutus">About us</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="enquiry" aria-label="Search">
        <button class="btn btn-blue" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<app-slider></app-slider>




