<div class="container-fluid jumbotron">
  <div class="row">
     <h2 class="f-left">About the owners</h2>
       </div>
       <div class="row">
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div> 
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="E:\projectFiles\Drizzle\src\assets\images\4-2-iron-man-png-hd-thumb.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <blockquote class="text-danger">--jahangeer khan</blockquote>
        </div> 
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div> 
    </div>
  </div>
